body{
    background-color: #383838;
    color: white;
    font-family: Arial;
    margin: 0;
    margin-bottom: 100px;
}

.bodyColour{
    background: rgb(61,6,70);
    background: linear-gradient(34deg, rgba(61,6,70,1) 15%, rgba(20,62,121,1) 56%, rgba(11,107,101,1) 81%, rgba(5,155,129,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: #272727;
    padding: 1px;
    padding-left: 30px;
    position: sticky;
    top: 0;
}

.headerTransparent{
    opacity: 0.8;
}

footer{
    background-color: #464646;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Links on the header*/
.indexLinks, .linksHome{
    margin-top: 25px;
    margin-right: 30px;
    float: right;
}

/*Link box for the home page*/
.linksHome{
    margin-top: 15px;
}

/*Text on the main page of Zanith*/
.mainText, .subText, .signupLoginDiv, .uploadContainer{
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    text-align: center;
    font-size: 20px;
}

.mainText, .subText{
    left: 25%;
    font-size: 80px;
    text-align: left;
    font-family: 'Patua One', cursive;
    margin-top: 10px;
}

.gradientText{
    color: #ce959a;
}

.subText{
    margin-top: 220px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(194, 194, 194);
}

/*Container that contains the username, password, and email textbox, as well as the */
.signupLoginDiv, .uploadContainer{
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 20px;
    padding-top: 0px;
    text-align: left;
    padding-left: 30px;
    float:right;
}

.uploadContainer{
    margin-left: -625px;
    display: flex;
}

.songInfo{
    float: left;
}

.displayCover{
    display: flex;
    flex-direction: column;
}

.displaySongs, .displayImage{
    margin-top: 80px;
    width: 400px;
    float:left;
}

.progressSection{
    display: flex;
    margin-top: 290px;
    align-items: center;
    font-size:15px;
}

.progressTemplate{
    font-size: 10px;
    background-color: #9e9e9e;
    margin-bottom: 0px;
    height: 10px;
    border-radius: 10px;
    width: 50%;
    margin-left: 5px;
}

#progressBar{
    background-color: lightcyan;
    height: 10px;
    border-radius: 10px;
    width: 0%;
}

/*Adjusts the title, label, and button of the login and signup page to match the overall aesthetics*/
.authenticationMargin, .authenticationLabel, .authenticationTitle, .songUpload{
    margin-left: 20px;
}

.authenticationLabel{
    font-size: 17px;
}

.authenticationTitle{
    font-size: 30px;
}

#usernameMessageLogin, #passwordMessageLogin, #usernameMessageSignup, #passwordMessageSignup, #emailMessageSignup, #titleMessageUpload, #descriptionMessageUpload, #songUploadMessageUpload, #imageUploadMessageUpload, #genreMessageUpload{
    color: red;
    font-size: 12px;
    margin-left: 20px;
    height: 50px;
}

/*Signup and Login Buttons to redirect the user to the signup and login page*/
.signupLoginButton, .signupLoginButton:Hover{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    background: none;
    color: white;
    text-decoration: none;
}

.signupLoginButton:hover {
    background-color: rgba(255, 255, 255, 0.103);
}

/*The username, password, and email textbox for the login/signup page*/
.textbox, .searchTextbox, .comment, .description{
    background-color: #303030;
    padding: 10px;
    width: 350px;
    color: lightgrey;
    text-decoration: 0px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    float:right;
    margin-left: 20px;
    outline: none;
}

/*Search textbox for the search textbox*/
.searchTextbox{
    background-color: #444444;
    float: none;
}

/*Create a description textbox for the song upload*/
textarea {
    resize: none;
    font-family: Arial;
    height: 200px;
}

.comment, .description{
    margin-left: 0px;
    float: none;
    height: 50px;
    width: 600px;
    background-color:  rgba(209, 209, 209, 0.952);
    color: black;
}

.description{
    background-color: #585858;
    color: lightgrey;
    width: auto;
    height: auto;
    font-family: Arial;
    margin-bottom: 50px;
    margin-right: 20px;
}

/*Submits the login/signup info to the client side*/
.submit, .submit:active, .submitSong, .submitSongs, .commentButtonModifier{
    background-color: #444444;
    padding: 9px;
    color: lightgrey;
    font-size: 15px;
    text-decoration: 0px;
    border: none;
    border-radius: 5px;
}
.submit:active, .submitSong:active, .submitSongs:active, .commentButtonModifier:active{
    background-color: black;
}

/*Button to submit songs for search*/
.submitSong{
    margin-right: 20px;
}

/*Custom buttom to upload song*/
.submitSongs{
    margin-top: 20px;
}

/*Customise styles for links*/
a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

/*Modified sections in home page to match aesthetics of the page*/
#recordLabels, #recommendedSongs, #topSongs, #recommendedArtists, .searchDisplay{
    margin-left: 30px;
    margin-right: 30px;
}

/*Div box for the profile pic in the profile page header*/
#profileHeaderPicture, .songHeaderPicture{
    background-color: lightslategray;
    height: 200px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
}

.songHeaderPicture{
    background-color: rgba(209, 209, 209, 0.952);
    color: black;
    height: 300px;
}

/*Container for the profile which contains the songDisplay and the albumDisplay*/
.profileContainer, .descriptionContainer{
    display: flex;
    margin: 0px;
    padding: 0px;
}

/*Displays all the songs in one section and displays all the albums in the other section*/
.songDisplay, .albumDisplay{
    padding: 1px;
    padding-left: 20px;
    width: 100%;
}

/*Displays all the albums in a section*/
.albumDisplay{
    width: 40%;
}

/*Style horizontal ruler/line*/
hr{
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-bottom: 20px;
}

/*Container which contains the songs*/
.songContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /*Used to be "start" and not flex-start*/
    flex-flow: row wrap;
}

/*Container which contains the song image, name, and basic infos*/
.individualSongContainer{
    display: flex;
    background-color: rgb(58, 58, 58);
    border-radius: 10px 10px 10px 10px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 70px;
}

/*Contains the song image and play/pause icon*/
.imageContainer{
    position: relative;
}

/*Displays the song image*/
.songImage{
    border-radius: 10px 0px 0px 10px;
}

/*Hides the play/pause icon by default*/
.individualSongContainer .playPauseIcon{
    visibility: hidden;
    position: absolute;
    top: 12px;
    left: 12px;
    float: right;
}

/*When the song box is hovered, the song image becomes a bit transparent*/
.individualSongContainer:hover .songImage{
    transition-duration: 0.25s;
    opacity: 0.60;
}

/*When the song box is hovered, the play/pause icon becomes visible*/
.individualSongContainer:hover .playPauseIcon{
    visibility: visible;
}

/*Style the title of the song*/
.songTitle, .songArtist{
    margin: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    max-width: 181px;
}

.songTitle:hover, .songArtist:hover{
    cursor: pointer;
    color: #ce959a;
}

.songArtist{
    margin-top: 0px;
    font-size: 11px;
    color: rgb(206, 206, 206)
}

/*Style the icons*/
.icon{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 3px;
    padding: 0px;
    height: 20px;
    margin-right: 3px;
    user-select: none;
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    color: #C0C0C0;
}

/*Displays the genre tags beside the song title*/
.genreSection{
    width: 100%;
    height: 70px;
    float: right;
}

/*Generate custom genre tags*/
.genreClassical, .genreRock, .genreElectronic, .genreHipHop, .genreRap, .genreOther, .genreElectronicDark, .genreDark{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;

    margin-top: 8px;

    font-size: 11px;
    border-radius: 10px;
    background: none;
    text-decoration: none;
    float: left;

    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    max-width: 82px;
}

.genreClassical{
    border: 2px solid orange;
    color: orange;
}

.genreRock{
    border: 2px solid red;
    color: red;
}

.genreElectronic{
    border: 2px solid lightblue;
    color: lightblue;
}

.genreHipHop{
    border: 2px solid lightseagreen;
    color: lightseagreen;
}

.genreRap{
    border: 2px solid lightpink;
    color: lightpink;
}

.genreOther{
    border: 2px solid lightseagreen;
    color: lightseagreen;
}

.genreDark{
    max-width: none;
    float: none;
    margin-left: 10px;
    font-size: 13px;
    border-radius: 20px;
    vertical-align: middle;
}

.genreElectronicDark{
    border: 2px solid rgb(55, 178, 255);
    color: rgb(55, 178, 255);
}

/*Contains the likes and comments icon and stats*/
.songStats{
    display: flex;
    align-items: center;
    float: right;
    margin-top: 35px;
    margin-right: 7px;
}

/*Styles the icons*/
.iconStyles{
    color: #C0C0C0;
    cursor: pointer;
    user-select: none;
}

.iconStyles:hover{
    color: #9e9e9e;
    transition-duration: 0.25s;
}

.controls{
    display: flex;
    align-items: center;
}

.controlsIcon{
    margin-right: 5px;
}

.musicDetails{
    display: flex;
}

#songCover, #songCoverBackground{
    margin-left: 110px;
}

#songCoverBackground{
    background-color: rgb(46, 50, 54);
    border-radius: 5px 0px 0px 5px;
    padding: 20px;

}

/*Changes the border radius of the image cover in the footer.*/
.songImageCover{
    border-radius: 5px 0px 0px 5px;
}

.titleAndArtist{
    background-color: rgb(116, 116, 116);
    border-radius: 0px 5px 5px 0px;
    width: 600px;
}

.musicPlayerTitle, .musicPlayerArtist{
    margin: 0px;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 15px;
}

.musicPlayerArtist{
    margin-top: 0px;
    font-size: 13px;
    color: rgb(206, 206, 206)
}

.timeStamp{
    display: flex;
}

.beginningTime, .endTime{
    margin-left: 15px;
    font-size: 10px;
}

#songSlider, #volumeSlider{
    width: 80%;
    margin-top: 3px;
    margin-left: 15px;
    accent-color: lightblue;
    background-color: lightblue;
    border: 0px;
}

#volumeSlider{
    margin-top: 2px;
    margin-left: 5px;
    width: 100%;
}

.volumeControls{
    display: flex;
    margin-left: 50px;
}

.searchBody{
    background-color: #2e2e2e;
}

.profileSongBody{
    background-color: #292929;
}

.searchArtistContainer{
    width: 350px;
    height: 70px;
    background-color: rgba(81, 91, 99, 0.562);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    margin-right: 20px;
}

.noResults{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recordLabelImage{
    border-radius: 30px;
    width: 300px;
}

.recordLabelImage:hover{
    opacity: 0.8;
}

.pageNotFound{
    margin-top: 70px;
    text-align: center;
}

.songTitleFontSize{
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 0px;
}

.songTopInfo{
    width: 100%;
}

.songArtistFontSize{
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

.songArtistFontSize:hover{
    color: #88121c;
}

.songCoverImage{
    border-radius: 10px;
    margin: 10px;
}

.commentSection{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.commentBar{
    padding-right: 20px;
    word-wrap: break-word;
    width: 95%;
}

.commentButtonModifier{
    align-self: start;
    float: right;
    margin-top: 7px;
    margin-right: 5px;
}

.usernameComment{
    font-weight: bold;
    margin-bottom: 0px;
}

.commentText{
    margin-top: 0px;
    color: #e9e9e9;
}

.dateCommentStyle, .dateSongStyle{
    font-size: 13px;
    color: rgb(167, 167, 167);
    font-weight: lighter;
    float: right;
}

.dateSongStyle{
    color: rgb(56, 56, 56);
    font-weight: bold;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 15px
}

.songListenCount{
    vertical-align: super;
    margin-top: 180px;
    display: inline-block;
    font-size: 18px;
}

.songPlayIcon{
    margin-top: 180px;
    margin-left: 15px;
    display: "block";
    font-size: 25px;
}

.creator{
    font-size: 13px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid darksalmon;
    color: darksalmon;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.likeButton, .likeButtonLiked{
    border: 3px solid;
    margin-left: 15px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    color: #444444;
    border-color: #444444;
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

.likeButton:hover, .likeButtonLiked:hover{
    transition-duration: 0.30s;
    color: rgb(255, 130, 151);
    border-color: rgb(255, 130, 151);
}

.likeButtonLiked{
    color: rgb(255, 94, 120);
    border-color: rgb(255, 94, 120);
}

.iconSize{
    font-size: 20px;
}

.editSongButton{
    float: right;
    font-size: 15px;
    margin-bottom: auto;
    margin-top: 10px;
}

.editSongIcon{
    font-size: 15px;
    margin-right: 5px;
}

.descriptionHead{
    width: 95%;
}

.descriptionContainer{
    height: 50px;
}

.editOverLay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 46, 46, 0.95);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.backgroundOverlay{
    background-color: #1f1f1f;
    vertical-align: middle;
    top: 25%;
    left: 50%;
    margin-top: -80px;
    margin-left: -600px;
    position: absolute;
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 0px;
}